[submodule "robot/ws/lois_frontend"]
	path = robot/ws/lois_frontend
	url = git@github.com:wuehr1999/lois_frontend.git
[submodule "robot/ws/colcon/lois_pls"]
	path = robot/ws/colcon/lois_pls
	url = git@github.com:wuehr1999/lois_pls.git
[submodule "robot/ws/colcon/lois_ecu_ros"]
	path = robot/ws/colcon/lois_ecu_ros
	url = git@github.com:wuehr1999/lois_ecu_ros.git
