body
{
    font-family:sans-serif;
    margin: auto;
    position:absolute;
    box-sizing:border-box;
    transform-origin: 0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
/*    overflow-x: hidden;
    overflow-y: hidden;*/
}

.css_squarebutton
{
    height: 80px;
    width: 80px;
    border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: whitesmoke;
}

.css_rectbutton
{
    height: 80px;
    width: 200px;
    border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: whitesmoke;
}

.css_rectbuttonsmall
{
    height: 25px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: whitesmoke;
}

.css_input
{
    height: 25px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: whitesmoke;
}

.css_select
{
    height: 25px;
    width: 200px;
    border-radius: 5px;
    background-color: whitesmoke;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.css_sliderdiv 
{
    width: 200px;
}

.css_slider 
{
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.css_slider:hover 
{
    opacity: 1;
}
  
.css_slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
}
  
.css_slider::-moz-range-thumb 
{
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
}

.css_output
{
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

#div_screen
{
    position: absolute;
    top: 65px;
    left: 250px;
    overflow-x: "scroll";
    overflow-y: "scroll";
}

#canvas_screen 
{
	position: absolute;
    top: 0px;
    left: 0px;
	border: 5px solid red;
}

#button_left
{
    position: absolute;
    left: 0px;
    top: 280px;
}

#button_right
{
    position: absolute;
    left: 160px;
    top: 280px;
}

#button_up
{
    position: absolute;
    left: 80px;
    top: 200px;
}

#button_down
{
    position: absolute;
    left: 80px;
    top: 360px;
}

#button_shit
{
    position: absolute;
    left: 0px;
    top: 360px;
}

#button_emstop 
{
    background-color: red;
    position: absolute;
    left: 80px;
    top: 280px;
}

#select_topic
{
    position: absolute;
    top: 25px;
    left: 250px;
}

#select_control
{
    position: absolute;
    top: 25px;
    left: 0px;
}

#input_dest
{
    position: absolute;
    top: 75px;
    left: 0px;
}

#output_dest
{
    position: absolute;
    top: 105px;
    left: 0px;
}

#button_startstep
{
    position: absolute;
    top: 140px;
    left: 0px;
    background-color: greenyellow;
}

#button_emstop2
{
    position: absolute;
    top: 240px;
    left: 0px;
    background-color: red;
}

#select_sequence
{
    position: absolute;
    top: 345px;
    left: 0px;
}

#input_memdepth
{
    position: absolute;
    top: 395px;
    left: 0px;
}

#output_memdepth
{
    position: absolute;
    top: 425px;
    left: 0px;
}

#select_current
{
  position: absolute;
  top: 450px;
  left: 0px;
}

#button_download
{
    position: absolute;
    top: 25px;
    left: 500px;
}

#input_distance
{
    position: absolute;
    top: 345px;
    left: 0px;
}

#output_distance
{
    position: absolute;
    top: 375px;
    left: 0px;
}

#input_heading
{
    position: absolute;
    top: 395px;
    left: 0px;
}

#output_heading
{
    position: absolute;
    top: 425px;
    left: 0px;
}
